---
import BrowserWindow from './BrowserWindow.astro';
---

<BrowserWindow url="http://voltrux.com/header">
  <header class="header">
    <div class="header__container">
      <div class="header__logo">
        <img src="/placeholder.svg" alt="Voltrux Motors" class="header__logo-image" />
        <span class="header__logo-text">Voltrux Motors</span>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li><a href="#" class="header__nav-link">Home</a></li>
          <li><a href="#" class="header__nav-link">Technology</a></li>
          <li><a href="#" class="header__nav-link">About</a></li>
          <li><a href="#" class="header__nav-link">Contact</a></li>
        </ul>
      </nav>

      <div class="header__cta">
        <a href="/dealers" class="header__cta-button">Find a Dealer</a>
      </div>

      <button class="header__menu-toggle">
        <span class="header__menu-icon"></span>
        <span class="header__menu-icon"></span>
        <span class="header__menu-icon"></span>
      </button>
    </div>
    <nav class="header__mobile-nav">
      <ul class="header__mobile-list">
        <li><a href="#" class="header__mobile-link">Home</a></li>
        <li><a href="#" class="header__mobile-link">Technology</a></li>
        <li><a href="#" class="header__mobile-link">About</a></li>
        <li><a href="#" class="header__mobile-link">Contact</a></li>
        <li><a href="/dealers" class="header__cta-button--mobile">Find a Dealer</a></li>
      </ul>
    </nav>
  </header>
</BrowserWindow>